.classrooms-index
  h3 My classes
  hr

  = search_form_for @q, url: my_classes_path do |f|
    = f.search_field :name_or_description_or_looking_for_cont, class: 'form-control', placeholder: 'Search a class'

  br

  - if @classrooms.count.zero?
    h6.text-center= "No classes available. #{link_to 'Create one', new_classroom_path}".html_safe
  - else
    - @classrooms.each do |classroom|
      .card.mb-4
        .card-body
          h5.card-title= link_to classroom.name, classroom_path(classroom)
          h6.card-subtitle.text-muted= "Created #{time_ago_in_words classroom.created_at} ago by #{classroom.user.name}"
          hr
          p.card-text= classroom.description
          p.card-text We are looking for:
          - classroom.looking_for.split(' ').each do |looking|
            span.badge.badge-light= looking
          br
          br
          = link_to icon('fas', 'times', ' Leave Class'), join_path(id: classroom.id), class: 'btn btn-danger float-right', method: :delete, data: { confirm: "Are you sure you want to leave #{classroom.name}?" }
