.profile-index
  .row
    h1.ml-3.float-left= "My Profile #{link_to icon('fas', 'cog'), edit_users_path}".html_safe
  hr
  .card
    .card-body
      h4.card-title What I already know
      = react_component 'Skills', { kind_of: 'already_know', skills: @already_know_skills }
  .card
    .card-body
      h4.card-title What I want to learn
      = react_component 'Skills', { kind_of: 'want_to_learn', skills: @want_to_learn_skills }
  .card
    .card-body
      h4.card-title What I am currently learning
      = react_component 'Skills', { kind_of: 'currently_learning', skills: @currently_learning_skills }
  hr
  = render partial: 'shared/posts_comments', locals: { posts: @posts }
