h1 Edit Classroom
hr
= simple_form_for @classroom, url: classroom_path(@classroom), method: :put do |f|
  = f.input :name
  = f.input :description
  = f.input :group_id, label: 'Group ID (Alphanumeric only)'
  = f.input :looking_for, label: 'Looking for (Enter words separated by a space. Eg. mentors learners equipments)', placeholder: 'Enter words separated by a space. (Eg. mentors learners equipments)'
  = f.input :public, label: 'Show class to non-members?'
  = f.submit 'Save', class: 'btn btn-success'
