.classrooms-index
  h3 Find a class
  hr

  = search_form_for @q do |f|
    = f.search_field :name_or_description_or_looking_for_cont, class: 'form-control', placeholder: 'Search a class'

  br

  - if @classrooms.count.zero?
    h6.text-center= "No classes available. #{link_to 'Create one', new_classroom_path}".html_safe
  - else
    - @classrooms.each do |classroom|
      .card.mb-4
        .card-body
          h5.card-title= "#{link_to classroom.name, classroom_path(classroom)} #{icon('fas', 'lock') unless classroom.public?}".html_safe
          h6.card-subtitle.text-muted= "Created #{time_ago_in_words classroom.created_at} ago by #{classroom.user.name}"
          hr
          p.card-text= classroom.description
          p.card-text We are looking for:
          - classroom.looking_for.split(' ').each do |looking|
            span.badge.badge-light= looking
          br
          br
          = link_to icon('fas', 'check', ' Join Class'), join_path(id: classroom.id), class: 'btn btn-success float-right', method: :post
