h3 Create a class
hr

= simple_form_for @classroom do |f|
  = f.input :name
  = f.input :description
  = f.input :group_id, label: 'Group ID (Alphanumeric only)'
  = f.input :looking_for, placeholder: 'Enter words separated by a space. (Eg. mentors learners equipments)'
  = f.submit 'Create class', class: 'btn btn-primary'
  = button_tag 'Clear', class: 'btn btn-link', type: :reset
