h3= "#{link_to @classroom.name, classroom_path(@classroom)} #{link_to(icon('fas', 'cog'), edit_classroom_path(@classroom)) if @classroom.user == current_user}".html_safe
hr

- if current_user.has_class?(@classroom)
  = link_to 'Create a post', new_classroom_post_path(classroom_id: @classroom.id), class: 'btn btn-secondary btn-lg btn-block'
.mb-4

- if @posts.count.zero?
  .text-center No posts to show
- else
  - @posts.each do |post|
    .home-index
      .card
        .card-body
          span.card-title= link_to post.user.name, user_path(post.user)
          br
          = link_to classroom_post_path(post, classroom_id: @classroom.id) do
            small.card-subtitle.text-muted
              = "Posted #{time_ago_in_words post.created_at} ago"
          - if post.user == current_user
            hr
            = link_to icon('fas', 'edit', ' Edit'), edit_classroom_post_path(post, classroom_id: @classroom.id), class: 'btn btn-warning btn-sm'
            = link_to icon('fas', 'trash', ' Delete'), classroom_post_path(post, classroom_id: @classroom.id), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' }
          hr
          = @renderer.render(post.body).html_safe
          hr
          = react_component 'LikesComments', { post_id: post.id, like_count: post.likes.count, liked: @user_like_ids.include?(post.id), comments: @comments[post.id], disabled: !current_user.has_class?(@classroom) }
