.container
  nav.navbar.navbar-expand.navbar-dark.bg-primary style='margin-bottom: 20px;'
    = link_to 'Haraya', root_path, class: 'navbar-brand'
    ul.navbar-nav.mr-auto
      li.nav-item
        = link_to icon('fas', 'home'), root_path, class: 'nav-link'
    ul.navbar-nav
      li.nav-item style='display: inline-block; margin-right: 4px;'
        = link_to icon('fas', 'user-circle', " #{current_user.name}"), profiles_path, class: 'nav-link', data: { toggle: 'tooltip', placement: 'bottom', title: 'My Profile' }
      li.nav-item style='display: inline-block'
        = link_to icon('fas', 'plus'), new_post_path, class: 'nav-link', data: { toggle: 'tooltip', placement: 'bottom', title: 'Add a post' }
      li.nav-item style='display: inline-block'
        = link_to icon('fas', 'chalkboard-teacher'), new_classroom_path, class: 'nav-link', data: { toggle: 'tooltip', placement: 'bottom', title: 'Create a class' }
      li.nav-item style='display: inline-block'
        = link_to icon('fas', 'user-friends'), users_path, class: 'nav-link', data: { toggle: 'tooltip', placement: 'bottom', title: 'Find a friend' }
      li.nav-item style='display: inline-block'
        = link_to icon('fas', 'bell'), nil, class: 'nav-link', data: { toggle: 'tooltip', placement: 'bottom', title: 'Show notifications (Under Construction)' }
    ul.navbar-nav
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'
        .dropdown-menu.dropdown-menu-right aria-labelledby='navbarDropdownMenuLink'
          = link_to icon('fas', 'search', ' Find Classes'), classrooms_path, class: 'dropdown-item'
          = link_to icon('fas', 'chalkboard', ' My Classes'), my_classes_path, class: 'dropdown-item'
          .dropdown-divider
          = link_to icon('fas', 'sign-out-alt', ' Sign Out'), destroy_user_session_path, method: :delete, class: 'dropdown-item'

  h1 Edit Profile
  hr
  = render partial: 'shared/alerts'
  = simple_form_for @user, url: users_path, method: :put do |f|
    = f.error_notification

    = f.input :name
    = f.input :age
    = f.input :username, label: 'Username (Please remember your username as this will be used to login your account)', placeholder: 'Username should be alphanumeric'
    = f.input :public, label: 'Viewable by non-connected users?'
    = f.button :submit, 'Save', class: 'btn-success'
  hr
  h1 Change Passwords
  br
  = link_to 'Click here to change password', edit_change_passwords_path, class: 'btn btn-primary'
