.container style='max-width: 500px; margin-top: 200px;'
  .card
    .card-body
      h4.card-title.text-center Haraya Sign Up Page
      = render partial: 'shared/alerts'
      = simple_form_for resource, as: resource_name, url: user_registration_path do |f|
        = f.error_notification

        .form-inputs
          .form-group
            = f.input :email, required: true, input_html: { autocomplete: 'email' }
          .form-group
            = f.input :password, required: true, input_html: { autocomplete: 'new-password' }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          .form-group
            = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
        .form-actions
          = f.button :submit, 'Sign up', class: 'btn btn-primary'
