.users-index
  h1 Search
  hr
  = search_form_for @q, url: users_path do |f|
    .form-row
      .form-group.col-8
        = f.search_field :name_or_email_cont, placeholder: 'Find a connection', class: 'form-control mb-4'
      .form-group.col-4
        = select_tag :kind_of, options_for_select([['All', 'all'], ['Connections', 'connections'], ['Non-connections', 'non_connections']], params[:kind_of]), { class: 'custom-select' }
  = react_component 'Users', { users: @users, requests: @requests }
