.profile-index
  h1= @user.name 
  hr
  .card
    .card-body
      h4.card-title What I already know
      = react_component 'Skills', { kind_of: 'already_know', skills: @already_know_skills, controller: 'show' }
  .card
    .card-body
      h4.card-title What I want to learn
      = react_component 'Skills', { kind_of: 'want_to_learn', skills: @want_to_learn_skills, controller: 'show' }
  .card
    .card-body
      h4.card-title What I am currently learning
      = react_component 'Skills', { kind_of: 'currently_learning', skills: @currently_learning_skills, controller: 'show' }
  hr
  = render partial: 'shared/posts_comments', locals: { posts: @posts }
