- if @posts.count.zero?
  .jumbotron
    h1.text-center Welcome to Haraya
    p.lead.text-center Something written in here I don't know what
    p.text-center
      = link_to 'Go to my profile', profiles_path
- else
  - @posts.each do |post|
    .home-index
      .card
        .card-body
          span.card-title= link_to post.user.name, user_path(post.user)
          br
          = link_to post_path(post) do 
            small.card-subtitle.text-muted
              = "Posted #{time_ago_in_words post.created_at} ago"
          - if post.user == current_user
            hr
            = link_to icon('fas', 'edit', ' Edit'), edit_post_path(post), class: 'btn btn-warning btn-sm'
            = link_to icon('fas', 'trash', ' Delete'), post_path(post), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' }
          hr
          = @renderer.render(post.body).html_safe
          hr
          = react_component 'LikesComments', { post_id: post.id, like_count: post.likes.count, liked: @user_like_ids.include?(post.id), comments: @comments[post.id], disabled: false }
