h3 Create a new post
hr

= form_for @post, url: classroom_posts_path(classroom_id: @classroom.id), method: :post do |f|
  = f.text_area :body, class: 'post-editor'
  = f.submit 'Create Post', class: 'btn btn-primary float-right'

javascript:
  var simplemde = new SimpleMDE({ element: $(".post-editor")[0] });
