.container style='max-width: 500px; margin-top: 200px;'
  .card
    .card-body
      h4.card-title.text-center Welcome to Haraya
      = render partial: 'shared/alerts'
      = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        .field.form-group
          = f.label :username
          = f.text_field :username, autofocus: true, class: 'form-control'
        .field.form-group
          = f.label :password
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
        .actions
          .btn-group.d-flex role='group'
            = f.submit 'Login', class: 'btn btn-primary w-100'
            = link_to 'Login with Google', user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-primary w-100'
      hr
      .text-center
        span= "New to Haraya? #{link_to 'Sign Up', new_user_registration_path}".html_safe
