h3 Create a new post
hr

= form_for @post do |f|
  = f.text_area :body, class: 'post-editor'
  = f.submit 'Create Post', class: 'btn btn-primary float-right'

javascript:
  var simplemde = new SimpleMDE({ element: $(".post-editor")[0] });
