@import "bootswatch/pulse/variables";
@import "bootstrap";
@import "bootswatch/pulse/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

body { margin-top: 20px; }

.profile-index {
  button.skills { margin-right: 4px; }

  .card { margin-bottom: 8px; padding-right: 8px; }
}

.users-index {
  .card { margin-bottom: 8px; }
}

.home-index {
  .card { margin-bottom: 10px; }
  .btn.btn-sm { margin-right: 4px; }

  img, iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.classrooms-index {
  .badge { margin-right: 4px; }
}

.comment-box {
  background-color: whitesmoke;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}
