doctype html
html
  head
    title Haraya
    = csrf_meta_tags
    = csp_meta_tag
    meta name='viewport' content='width=device-width, initial-scale=1.0'

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    script src='https://www.googletagmanager.com/gtag/js?id=UA-157806539-1'
    javascript:
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-157806539-1');

  body
    = yield
