.container style='width: 500px; margin-top: 200px;'
  .card
    .card-body
      h4.card-title.text-center Welcome to Haraya
      h6.card-subtitle.text-center To continue, please enter the following details
      br
      = render partial: 'shared/alerts'
      = simple_form_for @user, url: registration_path, method: :put do |f| 
        = f.input :name
        = f.input :username, label: 'Username (Please remember your username as this will be used to login your account)', placeholder: 'Username should be alphanumeric'
        = f.input :age
        = f.input :password
        = f.input :password_confirmation
        = f.button :submit, 'Save', class: 'btn-success'
